# Dependencies
node_modules/

# Build output
dist/
dev-dist/

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.local
.env.*.local

# TS build artifacts
*.tsbuildinfo
vite.config.js
vite.config.d.ts
